.chat {
  background-color: white;
  width: 400px;
  height: 600px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 0 !important;
  overflow: hidden;
  z-index: 1000;
  transition: all 0.6s;
  opacity: 0;
  visibility: hidden;
  &__headaer {
    background-image: linear-gradient(125deg, #e1ae00 -10%, #a37e00 100%);
    padding-top: 10px;
    padding-left: 15px;
    .info {
      p {
        font-size: 12.5px;
        line-height: 20px;
        letter-spacing: 0.2px;
        white-space: nowrap;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          img {
            cursor: pointer;
            margin-right: 10px;
            filter: invert(99%) sepia(48%) saturate(324%) hue-rotate(135deg)
              brightness(113%) contrast(100%);
          }
        }
      }
    }
  }
  &__peopel {
    ul {
      display: flex;
      align-items: center;
      column-gap: 5px;
      margin: 0;
      padding: 5px 0 8px;
      li {
        width: 32px;
        height: 32px;
        background-color: #eee;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: white;
        letter-spacing: 0.5px;
        font-weight: 700;
        cursor: pointer;
        overflow: hidden;
      }
      li:last-child {
        background-color: #a37e00;
      }
    }
  }
  section {
    height: calc(100% - 153px);
    background-image: linear-gradient(
      -180deg,
      rgba(0, 0, 0, 0) 85%,
      rgba(0, 0, 0, 0.01) 100%
    );
    padding: 20px 10px 10px;
    .msg {
      display: flex;
      position: relative;
      span {
        position: absolute;
        font-size: 8px;
        color: black;
        bottom: 1px;
        padding: 0 7px;
        font-weight: 500;
      }
    }

    .me {
      justify-content: flex-end;
    }
    .other {
      justify-content: flex-start;
    }
    p {
      padding: 4px 9px;
      border-radius: 13px;
      width: fit-content;
      background-color: rgb(84, 204, 255);
      color: white;
      word-wrap: break-word;
      margin-bottom: 10px;
      max-width: 50%;
      user-select: none;
      transition: all 0.3s;
    }
  }
  &__discussion {
    padding: 0 25px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    height: 57px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top: 1px solid #e1ac0045;
    input {
      border: none;
      width: 100%;
      background-color: transparent;
      font-family: inherit;
      font-size: 15px;
      &::placeholder {
        font-size: 15px;
        color: #e1ae00;
      }
      width: 70%;
      &:focus {
        outline: none;
      }
    }
    .im-send {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        cursor: pointer;
      }
    }
    .im {
      img {
        filter: invert(60%) sepia(97%) saturate(746%) hue-rotate(8deg)
          brightness(97%) contrast(101%);
      }
    }
    .send {
      display: block;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      line-height: 26px;
      border: 1px solid #e1ae00;
      text-align: center;
      margin-left: 7px;
      background-color: #e1ae00;
      p {
        padding-right: 4px;
      }
      img {
        filter: invert(99%) sepia(48%) saturate(324%) hue-rotate(135deg)
          brightness(113%) contrast(100%);
      }
    }
  }
}

.Show {
  visibility: visible;
  opacity: 1;
}
