.examens {
  background-color: white;
  color: black;
  &__Child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 10px;
    // column-gap: 15px;
    row-gap: 18px;
  }
}
#border {
  border-radius: 10px;
  border: 1.5px solid #ededf0;
  padding: 12px;
}
