.home {
  color: black;
  display: flex;
  column-gap: 22px;
  &__first-section {
    width: 50%;
  }
  &__second-section {
    width: 50%;
  }
  &__live-session {
    background-color: white;
    margin-bottom: 25px;
    .CompsHeader {
      margin-bottom: 20px;
    }
  }
  &__all-session {
    background-color: white;
  }
  .subjects {
    transition: all 0.3s;
    background-color: white;
    margin-bottom: 25px;
    .more {
      width: fit-content;
      margin: auto;
      flex-direction: column;
      color: #8bb4c6;
      margin-top: 10px;
      img {
        transform: rotate(0deg);
        filter: invert(77%) sepia(8%) saturate(1012%) hue-rotate(153deg)
          brightness(88%) contrast(93%);
      }
    }
  }
  .examens_tab {
    background-color: white;
  }
  h2 {
    margin-top: 0;
    font-size: 22px;
  }
  .Child-add {
    width: 100%;
    p,
    .status {
      color: #a2a2a7;
      font-weight: 500;
      font-size: 18px;
      line-height: 29px;
      span {
        color: black;
        font-size: 19px;
      }
    }
    button {
      margin: 0;
      img {
        filter: invert(88%) sepia(88%) saturate(3%) hue-rotate(266deg)
          brightness(112%) contrast(97%);
      }
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      width: 190px;
      column-gap: 15px;
    }
    .classes {
      padding: 15px 0;
      border-bottom: 1px solid #ededf3;
      border-top: 1px solid #ededf3;
      margin: 20px 0;
    }
    .download {
      width: 45%;
      p {
        color: black;
      }
    }
    .status {
      margin: 15px 0 20px;
      span {
        color: #2ba7df;
      }
    }
  }
}
