.moneyForm {
  .header__modal {
    margin-bottom: 22px;
  }
  .form {
    margin: 0;
    padding: 0;
    form {
      width: 655px;
      row-gap: 10px;
    }
  }
  button {
    white-space: nowrap;
    font-size: 16px;
    padding: 8px 5px;
    letter-spacing: 0.4px;
    font-weight: 700;
  }
}
