$color-primary: #2ba7df;
$color-dark-blue: #18698d;
$color-light-blue: #40ccfe;

$color-red: red;
$color-light-red: #fe726e;

$color-white: white;
$color-black: black;
$color-peimary-dark: #a2a2a7;

$color-percentage-nb: #4a3c98;
$color-hover-card: rgba(233, 248, 253, 0.6);
$color-box-shadow: rgb(179 208 232 / 60%);
$color-background-msg-icon: #e1ae00;
