.live-sess {
  margin: 0 8px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ededf3;
  padding-bottom: 20px;
  cursor: pointer;
  &:hover {
    background: rgba(233, 248, 253, 0.6);
  }
  transition: all 0.3s;
}
.session {
  &-title {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 19px;
    font-weight: 600;
    color: #2ba7df;
    margin-bottom: 5px;
    img {
      width: 27px;
      height: 27px;
      filter: invert(61%) sepia(20%) saturate(2753%) hue-rotate(167deg)
        brightness(91%) contrast(91%);
    }
  }
  &-description {
    font-size: 18px;
    font-weight: 600;
    color: #a2a2a7;
    line-height: 27px;
  }
}
