.more {
  color: #a2a2a7;
  display: flex;
  align-items: center;
  cursor: pointer;
  p {
    font-size: 16.5px;
    display: inline-block;
    margin-bottom: 6px;
    font-weight: 600;
    margin-right: 2px;
  }
  img {
    transform: rotate(-90deg);
    filter: invert(74%) sepia(7%) saturate(146%) hue-rotate(201deg)
      brightness(88%) contrast(87%);
    margin-bottom: 6px;
  }
}
